* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 100%;
}

header {
    width: 80%;
    margin: 0 auto;
}

.header-up {
    border-bottom: 2px solid #c2c2c2;
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.header-up-img {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

@media (max-width: 598px) {
    .header-up {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 20px;
    }
}

@media (max-width:1347px) and (min-width:599px) {
    .header-up {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
    }
}

.text-for-logo,
.header-for-logo {
    color: #6a6a6a;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

.header-for-logo {
    font-weight: 700;
    text-transform: uppercase;
}

.header-bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-flow: row wrap;
}

.header-menu ul {
    li {
        display: inline-block;
        padding-right: 20px;
    }
    list-style: none;
    padding-bottom: 10px;
}

.menu-link {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 20px;
    font-weight: 400;
}

.menu-link:hover {
    color: #262626;
    border-bottom: 1px solid #262626;
}

.menu-link-active {
    color: #262626;
}

.medicare {
    background-image: url(img/background-medical.jpg);
    background-size: cover;
    background-position: center center;
}

.medicare-header {
    max-width: 519px;
    color: #474747;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -1.19px;
}

.medicare-text {
    padding-top: 180px;
    padding-bottom: 180px;
    padding-left: 15%;
    text-align: center;
    max-width: 519px;
}

.medicare-paragraph {
    color: #3f3f3f;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    max-width: 420px;
    padding: 30px 45px;
}

.button {
    text-decoration: none;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #1a9bdc;
    border-radius: 36px;
    padding: 9px 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    display: inline-table;
    transition-duration: 1s;
}

.button:hover {
    transform: scale(1.3, 1.3);
    background-color: royalblue;
}

.advantages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #ffffff;
}

@media (max-width:989px) and (min-width:600px) {
    .advantages {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:599px) {
    .advantages {
        grid-template-columns: 1fr;
    }
}

.advantages-paragraph {
    h3 {
        padding: 20px;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: -1.82px;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        padding-right: 38px;
        padding-left: 50px;
        padding-bottom: 57px;
    }
    text-align: center;
    padding-top: 70px;
}

.advantages-paragraph:nth-child(1) {
    background-color: #43b1d2;
}

.advantages-paragraph:nth-child(2) {
    background-color: #3fb6c6;
}

.advantages-paragraph:nth-child(3) {
    background-color: #3cbbbb;
}

.advantages-paragraph:nth-child(4) {
    background-color: #37c3a8;
}

.choose {
    padding: 111px 12% 60px 10%;
    display: grid;
    grid-row-gap: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header" "item-a item-backg item-b" "item-c item-backg item-d";
    h2,
    h2+p {
        text-align: center;
        color: #6a6a6a;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
    }
    h2 {
        color: #494949;
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

@media (max-width: 1000px) and (min-width: 701px) {
    .choose {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header" "item-a item-backg" "item-b item-backg" "item-c item-d";
    }
}

@media (max-width: 700px) {
    .choose {
        padding-left: 20%;
        grid-template-columns: 1fr;
        grid-template-areas: "header" "item-backg" "item-a" "item-b" "item-c" "item-d";
    }
}

.choose-header {
    grid-area: header;
}

.item-a {
    grid-area: item-a;
}

.item-b {
    grid-area: item-b;
}

.item-c {
    grid-area: item-c;
}

.item-d {
    grid-area: item-d;
}

.item-backg {
    grid-area: item-backg;
}

.choose-item-img {
    float: left;
    background: #1a9bdc;
    border-radius: 50%;
    padding: 10px 15px;
}

.choose-item-text {
    color: #6a6a6a;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    clear: both;
}

.statistic {
    padding: 150px 10%;
    background-image: url(img/statistic/medic-stat-backg.png);
    background-size: cover;
    background-color: blue;
    opacity: 0.76;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1000px) {
    .statistic {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
    }
}

.stat-item {
    text-align: center;
    .stat-item-numbers {
        color: #ffffff;
        font-size: 60px;
        font-weight: 500;
        letter-spacing: -1.19px;
    }
    .stat-item-text {
        color: #ffffff;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: -1.52px;
    }
    .border {
        width: 86px;
        height: 6px;
        background: #ffffff;
        margin-left: calc(~"50% - 43px");
        margin-bottom: 26px;
        margin-top: 26px;
    }
}

@keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

.stat-item img:hover {
    animation: shake 1s 1;
}

.stat-item:nth-child(2) {
    img {
        padding-bottom: 9px;
    }
}

.stat-item:nth-child(3) {
    img {
        padding-bottom: 18px;
    }
}

.stat-item:nth-child(4) {
    img {
        padding-bottom: 7px;
    }
}

.work {
    padding: 111px 12% 60px 10%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "how-work how-work our-creative" "review-1 review-2 treatment" "review-1 review-2 treatment" "read-more read-more treatment";
}

@media (max-width:1388px) and (min-width:900px) {
    .work {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "how-work our-creative" "review-1 review-2" "review-1 review-2" "read-more read-more" "treatment treatment" "treatment treatment";
    }
}

@media (max-width:900px) {
    .work {
        padding: 111px 2% 60px 7%;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-areas: "how-work" "our-creative" "review-1" "review-2" "read-more" "treatment" "treatment";
    }
    .heart-treatment {
        margin-left: calc(~"50% - 221px");
        text-align: left;
    }
}

.how-work h3,
.our-creative h3 {
    color: #494949;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 38px;
}

.how-work-text,
.our-creative-text,
.review-text-2,
.heart-treatment-text {
    color: #6a6a6a;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 10px;
}

.how-work {
    grid-area: how-work;
}

.our-creative {
    grid-area: our-creative;
}

.review-1 {
    grid-area: review-1;
}

.review-2 {
    grid-area: review-2;
}

.review-text-1 {
    color: #6f6f6e;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1.21px;
    padding-top: 20px;
}

.review-date {
    color: #0087be;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.38px;
    padding-bottom: 20px;
    padding-top: 13px;
}

.work .button {
    grid-area: read-more;
    width: 120px;
    text-align: center;
    margin-left: calc(~"50% - 60px");
}

.treatment {
    grid-area: treatment;
}

.heart {
    padding: 15px 40px;
    z-index: 0;
}

.heart-treatment {
    position: relative;
    max-width: 422px;
    min-width: 200px;
    background-color: #e2e2e2;
    border-radius: 26px;
    color: #494949;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
}

.heart-treatment-active {
    background-color: #0087be;
    color: #ffffff;
}

.heart-treatment img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 7px;
    top: 11px;
    z-index: 1;
}

.gallery {
    padding: 111px 12% 60px 10%;
    background-image: url(img/gallery/gallery-backg.png);
    background-color: aqua;
    text-align: center;
}

.header-gallery {
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
}

.text-gallery {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.gallery-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 38px;
    padding-top: 50px;
}

.gallery-unit{
    position:relative;   

}
.photo-gallery-back{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    display:none;
}

.gallery-unit:hover .photo-gallery-back{
    display:block;
}

Resources @media (max-width:1388px) and (min-width:900px) {
    .gallery-group {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:900px) {
    .gallery-group {
        grid-template-columns: 1fr;
    }
}

.our-team {
    text-align: center;
    padding: 111px 12% 60px 10%;
}

.our-team-header {
    color: #494949;
    font-size: 45px;
    font-weight: 700;
}

.our-team-text {
    color: #6a6a6a;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.doctors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 29px;
}

@media (max-width: 1543px) and (min-width:801px) {
    .doctors {
        grid-template-columns: 0.5fr 0.5fr;
    }
}

@media (max-width:900px) {
    .our-team {
        padding: 111px 5% 60px 7%;
    }
    .doctors {
        grid-template-columns: 1fr;
    }
}

.doctor-name {
    color: #6f6f6e;
    font-size: 25px;
    font-weight: 500;
}

.doctor-position {
    color: #6f6f6e;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1.09px;
    padding: 11px;
}

.social a img {
    width: 32px;
    height: 32px;
    padding: 5px;
    transition-duration: 1s;
}

.social a img:hover {
    transform: scale(1.5);
}

.offer {
    padding: 80px 12% 65px 10%;
    background-color: #e2e2e2;
    display: grid;
    grid-template-columns: 6fr 1fr;
    .button {
        display: inline-table;
        width: 120px;
    }
}

@media (max-width: 600px) {
    .offer {
        display: block;
        text-align: center;
    }
}

.offer-header {
    color: #494949;
    font-size: 30px;
    font-weight: 700;
}

footer {
    background-color: #171717;
    padding: 111px 12% 60px 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    h3 {
        color: #ffffff;
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.55px;
        padding-bottom: 70px;
    }
}

@media (max-width:1100px) and (min-width:751px) {
    footer {
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
    .contacts {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

@media (max-width:750px) {
    footer {
        grid-template-columns: 1fr;
        grid-gap: 40px;
        padding-left: calc(~"50% - 136px");
    }
}

.get-touch-unit {
    img {
        float: left;
        padding-right: 30px;
    }
    p {
        opacity: 0.51;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.4p
    }
    .touch-number {
        padding-right: 41px;
    }
    clear: both;
    padding-bottom: 40px;
}

.footer-social a img {
    float: left;
    padding-right: 15px;
    width: 32px;
    height: 32px;
    transition-duration: 1s;
}

.footer-social a img:hover {
    transform: scale(1.3);
}

.footer-menu {
    a {
        text-decoration: none;
        opacity: 0.51;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.4px;
        li {
            list-style-type: none;
            background-image: url(img/footer/play-arrow.svg);
            background-size: 11px;
            background-position: -3px 3px;
            background-repeat: no-repeat;
            padding-left: 22px;
            padding-bottom: 24px;
        }
    }
}

.contacts {
    input[type='text'] {
        background-color: #171717;
        border: none;
        outline: none;
        border-bottom: 1px solid #c2c2c2;
        padding-bottom: 30px;
        color: white;
    }
    input[type='submit'] {
        border: none;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.32px;
        padding: 12px 36px;
        background-color: #1a9bdc;
        border-radius: 50px;
        margin-top: 20px;
    }
    input[type='submit']:hover {
        background-color: royalblue;
    }
}

.contacts-list {
    li:not(: first-child) {
        margin-top: 10px;
    }
    list-style-type: none;
}

.contacts input::placeholder {
    opacity: 0.51;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.copy {
    text-align: center;
    background-color: #1a1a1a;
    p {
        padding: 55px 0px;
        color: #615555;
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.33px;
    }
}